 <!-- Footer Wrap -->
<footer class="footer navbar-fixed-bottom">	

  <!-- Logo (col 1)--> 
	<div style="background-color: #D33E51;" class="row">
	  <div id="FooterLogo" class="col-lg-3">
      <img class="center blended" src="/assets/img/Joy_Logo2.gif" alt="Joy Logo" height="200px">
	  </div>

    <!-- Column 2 -->
    <div id="SmallCenter" class="col-lg-2 col-xs-6 left">
      <h5>Lets Talk</h5> <!-- Links Section -->
        <li>
          <a href="/about">About Us</a>
        </li>
        <li>
          <a href="/nominate">Nominate</a>
        </li>
        <li>
          <a href="/stories">Our Stories</a>
        </li>
    </div>

    <!-- Column 3 --> 
    <div class="col-lg-3 col-xs-6 left">
      <h5 id="SmallCenter" >Keep In Touch</h5> <!-- Contact Section -->
      <li><a data-target=".in" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=AEGA6GRPJJWEC&lc=US&item_name=Joy%20Project%20%2d%20Donation&item_number=1001&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"> Donate to the Joy Project </a></li>
      <li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSesft8eDDphhX-DFy83Tod86LhGau2S7Q6LVEJK2K15Cn_dyg/viewform"> Subscribe to Updates </a></li>
    </div>

    <!-- Column 4 -->
    <div id="SmallCenter" class="col-lg-3 col-xs-12 left ">
      <h5>Submit Your Ideas</h5>
      <li><p>Know someone in need of Joy? Tell us all about it and we can put it in motion for you!</p></li>

      <!-- Submit Button -->
      <a href="/nominate" style="height: 50px;"> 
          <button type="submit" style="margin-bottom: 25px;" class="btn btn-primary">Submit</button>
        </a>
    </div>
  </div>

</footer>

